services:
    api:
        build:
            context: .
            dockerfile: Dockerfile.dev
        ports:
            - "8080:8080"
        environment:
            - PORT=8080
        restart: unless-stopped
        volumes:
            - ./:/app
